BASE_URL=http://localhost:3000
EMPTY_USER_EMAIL=your-empty-user@example.com
EMPTY_USER_PASSWORD=change-me
EMPTY_USER_DISPLAY_NAME=Empty User
DEMO_USER_EMAIL=demo@example.com
DEMO_USER_PASSWORD=change-me
DEMO_USER_DISPLAY_NAME=Demo User
DEFAULT_TEST_USER_DISPLAY_NAME=Test User
DEFAULT_TEST_USER_PASSWORD=change-me
